body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1531px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u342_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:764px;
  height:292px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u342 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:1559px;
  width:764px;
  height:292px;
  text-align:left;
}
#u343 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:138px;
  width:760px;
  visibility:hidden;
  word-wrap:break-word;
}
#u344_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:56px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u344 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:105px;
  width:192px;
  height:56px;
  text-align:left;
}
#u345 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:188px;
  word-wrap:break-word;
}
#u346_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:263px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u346 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:1573px;
  width:451px;
  height:263px;
}
#u347 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:10px;
  width:444px;
  word-wrap:break-word;
}
#u348_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:96px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u348 {
  border-width:0px;
  position:absolute;
  left:708px;
  top:1657px;
  width:199px;
  height:96px;
}
#u349 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:195px;
  word-wrap:break-word;
}
#u350 {
  border-width:0px;
  position:absolute;
  left:613px;
  top:1705px;
  width:0px;
  height:0px;
  text-align:left;
}
#u350_seg0 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-3px;
  width:96px;
  height:6px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u350_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u350_seg2 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:0px;
  width:1px;
  height:1px;
}
#u351 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u352_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:87px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u352 {
  border-width:0px;
  position:absolute;
  left:443px;
  top:577px;
  width:180px;
  height:87px;
}
#u353 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:10px;
  width:173px;
  word-wrap:break-word;
}
#u354_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:112px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u354 {
  border-width:0px;
  position:absolute;
  left:443px;
  top:685px;
  width:180px;
  height:112px;
}
#u355 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:10px;
  width:173px;
  word-wrap:break-word;
}
#u356_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:95px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u356 {
  border-width:0px;
  position:absolute;
  left:443px;
  top:299px;
  width:179px;
  height:95px;
}
#u357 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:10px;
  width:172px;
  word-wrap:break-word;
}
#u358_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:81px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u358 {
  border-width:0px;
  position:absolute;
  left:444px;
  top:192px;
  width:178px;
  height:81px;
}
#u359 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:10px;
  width:171px;
  word-wrap:break-word;
}
#u360_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:106px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u360 {
  border-width:0px;
  position:absolute;
  left:444px;
  top:438px;
  width:178px;
  height:106px;
  text-align:left;
}
#u361 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:10px;
  width:171px;
  word-wrap:break-word;
}
#u362_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:130px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u362 {
  border-width:0px;
  position:absolute;
  left:411px;
  top:838px;
  width:245px;
  height:130px;
}
#u363 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:5px;
  width:238px;
  word-wrap:break-word;
}
#u364_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:167px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u364 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:1150px;
  width:201px;
  height:167px;
}
#u365 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:5px;
  width:194px;
  word-wrap:break-word;
}
#u366 {
  border-width:0px;
  position:absolute;
  left:533px;
  top:161px;
  width:0px;
  height:0px;
  text-align:left;
}
#u366_seg0 {
  border-width:0px;
  position:absolute;
  left:-17px;
  top:11px;
  width:34px;
  height:8px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u366_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u366_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:31px;
  width:1px;
  height:1px;
}
#u367 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u368 {
  border-width:0px;
  position:absolute;
  left:533px;
  top:273px;
  width:0px;
  height:0px;
  text-align:left;
}
#u368_seg0 {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:9px;
  width:26px;
  height:8px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u368_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u368_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:26px;
  width:1px;
  height:1px;
}
#u369 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:5px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u370 {
  border-width:0px;
  position:absolute;
  left:533px;
  top:394px;
  width:0px;
  height:0px;
  text-align:left;
}
#u370_seg0 {
  border-width:0px;
  position:absolute;
  left:-23px;
  top:18px;
  width:46px;
  height:8px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u370_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u370_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:44px;
  width:1px;
  height:1px;
}
#u371 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u372 {
  border-width:0px;
  position:absolute;
  left:533px;
  top:545px;
  width:0px;
  height:0px;
  text-align:left;
}
#u372_seg0 {
  border-width:0px;
  position:absolute;
  left:-17px;
  top:13px;
  width:34px;
  height:8px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u372_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u372_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:33px;
  width:1px;
  height:1px;
}
#u373 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u374 {
  border-width:0px;
  position:absolute;
  left:533px;
  top:665px;
  width:0px;
  height:0px;
  text-align:left;
}
#u374_seg0 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:7px;
  width:22px;
  height:8px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u374_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u374_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:21px;
  width:1px;
  height:1px;
}
#u375 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:3px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u376 {
  border-width:0px;
  position:absolute;
  left:533px;
  top:797px;
  width:0px;
  height:0px;
  text-align:left;
}
#u376_seg0 {
  border-width:0px;
  position:absolute;
  left:-21px;
  top:17px;
  width:44px;
  height:8px;
  -webkit-transform:rotate(-91.3971810272964deg);
  -moz-transform:rotate(-91.3971810272964deg);
  -ms-transform:rotate(-91.3971810272964deg);
  transform:rotate(-91.3971810272964deg);
}
#u376_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u376_seg2 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:41px;
  width:1px;
  height:1px;
}
#u377 {
  border-width:0px;
  position:absolute;
  left:-49px;
  top:13px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u378_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:120px;
}
#u378 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:1384px;
  width:173px;
  height:120px;
}
#u379 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:52px;
  width:169px;
  word-wrap:break-word;
}
#u380_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u380 {
  border-width:0px;
  position:absolute;
  left:708px;
  top:1414px;
  width:100px;
  height:60px;
}
#u381 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u382 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:1317px;
  width:0px;
  height:0px;
  text-align:left;
}
#u382_seg0 {
  border-width:0px;
  position:absolute;
  left:-34px;
  top:29px;
  width:70px;
  height:8px;
  -webkit-transform:rotate(-90.8550973962667deg);
  -moz-transform:rotate(-90.8550973962667deg);
  -ms-transform:rotate(-90.8550973962667deg);
  transform:rotate(-90.8550973962667deg);
}
#u382_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u382_seg2 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:67px;
  width:1px;
  height:1px;
}
#u383 {
  border-width:0px;
  position:absolute;
  left:-49px;
  top:26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u384 {
  border-width:0px;
  position:absolute;
  left:621px;
  top:1444px;
  width:0px;
  height:0px;
  text-align:left;
}
#u384_seg0 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-4px;
  width:88px;
  height:8px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u384_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u384_seg2 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:0px;
  width:1px;
  height:1px;
}
#u385 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u386 {
  border-width:0px;
  position:absolute;
  left:535px;
  top:1504px;
  width:0px;
  height:0px;
  text-align:left;
}
#u386_seg0 {
  border-width:0px;
  position:absolute;
  left:-29px;
  top:24px;
  width:58px;
  height:8px;
  -webkit-transform:rotate(-88.95837332399deg);
  -moz-transform:rotate(-88.95837332399deg);
  -ms-transform:rotate(-88.95837332399deg);
  transform:rotate(-88.95837332399deg);
}
#u386_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u386_seg2 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:55px;
  width:1px;
  height:1px;
}
#u387 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u388_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:103px;
}
#u388 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:1931px;
  width:188px;
  height:102px;
}
#u389 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:184px;
  word-wrap:break-word;
}
#u390 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:1851px;
  width:0px;
  height:0px;
  text-align:left;
}
#u390_seg0 {
  border-width:0px;
  position:absolute;
  left:-40px;
  top:35px;
  width:82px;
  height:10px;
  -webkit-transform:rotate(-90.7161599454704deg);
  -moz-transform:rotate(-90.7161599454704deg);
  -ms-transform:rotate(-90.7161599454704deg);
  transform:rotate(-90.7161599454704deg);
}
#u390_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u390_seg2 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:80px;
  width:1px;
  height:1px;
}
#u391 {
  border-width:0px;
  position:absolute;
  left:-49px;
  top:32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u392_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-2px;
  width:31px;
  height:69px;
}
#u392 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:16px;
  width:5px;
  height:54px;
}
#u393 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u394 {
  border-width:0px;
  position:absolute;
  left:533px;
  top:70px;
  width:0px;
  height:0px;
  text-align:left;
}
#u394_seg0 {
  border-width:0px;
  position:absolute;
  left:-19px;
  top:14px;
  width:38px;
  height:8px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u394_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u394_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:35px;
  width:1px;
  height:1px;
}
#u395 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u396_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u396 {
  border-width:0px;
  position:absolute;
  left:484px;
  top:1028px;
  width:100px;
  height:60px;
}
#u397 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u398 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:968px;
  width:0px;
  height:0px;
  text-align:left;
}
#u398_seg0 {
  border-width:0px;
  position:absolute;
  left:-30px;
  top:26px;
  width:60px;
  height:8px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u398_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u398_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:1px;
  height:1px;
}
#u399 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u400 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:1088px;
  width:0px;
  height:0px;
  text-align:left;
}
#u400_seg0 {
  border-width:0px;
  position:absolute;
  left:-32px;
  top:28px;
  width:64px;
  height:6px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u400_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u400_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:62px;
  width:1px;
  height:1px;
}
#u401 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:23px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u402_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:86px;
}
#u402 {
  border-width:0px;
  position:absolute;
  left:822px;
  top:1016px;
  width:144px;
  height:85px;
}
#u403 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:140px;
  word-wrap:break-word;
}
#u404_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:108px;
  height:31px;
}
#u404 {
  border-width:0px;
  position:absolute;
  left:655px;
  top:1056px;
  width:93px;
  height:5px;
}
#u405 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u406 {
  border-width:0px;
  position:absolute;
  left:584px;
  top:1058px;
  width:0px;
  height:0px;
  text-align:left;
}
#u406_seg0 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-4px;
  width:74px;
  height:8px;
  -webkit-transform:rotate(-179.193070544898deg);
  -moz-transform:rotate(-179.193070544898deg);
  -ms-transform:rotate(-179.193070544898deg);
  transform:rotate(-179.193070544898deg);
}
#u406_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u406_seg2 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:1px;
  width:1px;
  height:1px;
}
#u407 {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:-7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u408 {
  border-width:0px;
  position:absolute;
  left:748px;
  top:1059px;
  width:0px;
  height:0px;
  text-align:left;
}
#u408_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-3px;
  width:74px;
  height:6px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u408_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u408_seg2 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:0px;
  width:1px;
  height:1px;
}
#u409 {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u410_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u410 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:1957px;
  width:50px;
  height:50px;
}
#u411 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u412_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u412 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:105px;
  width:50px;
  height:50px;
}
#u413 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u414_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:130px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u414 {
  border-width:0px;
  position:absolute;
  left:1251px;
  top:1202px;
  width:201px;
  height:130px;
}
#u415 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:197px;
  word-wrap:break-word;
}
#u416_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:103px;
}
#u416 {
  border-width:0px;
  position:absolute;
  left:1258px;
  top:1393px;
  width:188px;
  height:102px;
}
#u417 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:184px;
  word-wrap:break-word;
}
#u418 {
  border-width:0px;
  position:absolute;
  left:1352px;
  top:1332px;
  width:0px;
  height:0px;
  text-align:left;
}
#u418_seg0 {
  border-width:0px;
  position:absolute;
  left:-32px;
  top:26px;
  width:64px;
  height:8px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u418_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u418_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:61px;
  width:1px;
  height:1px;
}
#u419 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:23px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u420_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:113px;
}
#u420 {
  border-width:0px;
  position:absolute;
  left:1138px;
  top:1002px;
  width:181px;
  height:113px;
}
#u421 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:49px;
  width:177px;
  word-wrap:break-word;
}
#u422_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:136px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u422 {
  border-width:0px;
  position:absolute;
  left:1004px;
  top:1196px;
  width:194px;
  height:136px;
}
#u423 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:190px;
  word-wrap:break-word;
}
#u424_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:103px;
}
#u424 {
  border-width:0px;
  position:absolute;
  left:1007px;
  top:1393px;
  width:188px;
  height:102px;
}
#u425 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:184px;
  word-wrap:break-word;
}
#u426 {
  border-width:0px;
  position:absolute;
  left:966px;
  top:1059px;
  width:0px;
  height:0px;
  text-align:left;
}
#u426_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-3px;
  width:172px;
  height:6px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u426_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u426_seg2 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:0px;
  width:1px;
  height:1px;
}
#u427 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u428 {
  border-width:0px;
  position:absolute;
  left:1101px;
  top:1332px;
  width:0px;
  height:0px;
  text-align:left;
}
#u428_seg0 {
  border-width:0px;
  position:absolute;
  left:-31px;
  top:26px;
  width:62px;
  height:8px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u428_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u428_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:61px;
  width:1px;
  height:1px;
}
#u429 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:23px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u430_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:77px;
  height:31px;
}
#u430 {
  border-width:0px;
  position:absolute;
  left:1253px;
  top:1145px;
  width:62px;
  height:5px;
  -webkit-transform:rotate(37deg);
  -moz-transform:rotate(37deg);
  -ms-transform:rotate(37deg);
  transform:rotate(37deg);
}
#u431 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u432_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:81px;
  height:31px;
}
#u432 {
  border-width:0px;
  position:absolute;
  left:1137px;
  top:1144px;
  width:66px;
  height:5px;
  -webkit-transform:rotate(143deg);
  -moz-transform:rotate(143deg);
  -ms-transform:rotate(143deg);
  transform:rotate(143deg);
}
#u433 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u434 {
  border-width:0px;
  position:absolute;
  left:1229px;
  top:1115px;
  width:0px;
  height:0px;
  text-align:left;
}
#u434_seg0 {
  border-width:0px;
  position:absolute;
  left:-35px;
  top:1px;
  width:38px;
  height:10px;
  -webkit-transform:rotate(-19.9831065219deg);
  -moz-transform:rotate(-19.9831065219deg);
  -ms-transform:rotate(-19.9831065219deg);
  transform:rotate(-19.9831065219deg);
}
#u434_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u434_seg2 {
  border-width:0px;
  position:absolute;
  left:-33px;
  top:12px;
  width:1px;
  height:1px;
}
#u435 {
  border-width:0px;
  position:absolute;
  left:-66px;
  top:-2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u436 {
  border-width:0px;
  position:absolute;
  left:1144px;
  top:1166px;
  width:0px;
  height:0px;
  text-align:left;
}
#u436_seg0 {
  border-width:0px;
  position:absolute;
  left:-48px;
  top:10px;
  width:54px;
  height:10px;
  -webkit-transform:rotate(-34.9024956159247deg);
  -moz-transform:rotate(-34.9024956159247deg);
  -ms-transform:rotate(-34.9024956159247deg);
  transform:rotate(-34.9024956159247deg);
}
#u436_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u436_seg2 {
  border-width:0px;
  position:absolute;
  left:-43px;
  top:30px;
  width:1px;
  height:1px;
}
#u437 {
  border-width:0px;
  position:absolute;
  left:-71px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u438 {
  border-width:0px;
  position:absolute;
  left:1229px;
  top:1115px;
  width:0px;
  height:0px;
  text-align:left;
}
#u438_seg0 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:3px;
  width:36px;
  height:8px;
  -webkit-transform:rotate(-154.9831065219deg);
  -moz-transform:rotate(-154.9831065219deg);
  -ms-transform:rotate(-154.9831065219deg);
  transform:rotate(-154.9831065219deg);
}
#u438_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u438_seg2 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:14px;
  width:1px;
  height:1px;
}
#u439 {
  border-width:0px;
  position:absolute;
  left:-35px;
  top:-1px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u440 {
  border-width:0px;
  position:absolute;
  left:1309px;
  top:1166px;
  width:0px;
  height:0px;
  text-align:left;
}
#u440_seg0 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:12px;
  width:58px;
  height:12px;
  -webkit-transform:rotate(-140.06361685303deg);
  -moz-transform:rotate(-140.06361685303deg);
  -ms-transform:rotate(-140.06361685303deg);
  transform:rotate(-140.06361685303deg);
}
#u440_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u440_seg2 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:36px;
  width:1px;
  height:1px;
}
#u441 {
  border-width:0px;
  position:absolute;
  left:-28px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u442_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u442 {
  border-width:0px;
  position:absolute;
  left:1481px;
  top:1419px;
  width:50px;
  height:50px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u443 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u444_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u444 {
  border-width:0px;
  position:absolute;
  left:922px;
  top:1419px;
  width:50px;
  height:50px;
}
#u445 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
