body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:846px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u238_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:135px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u238 {
  border-width:0px;
  position:absolute;
  left:267px;
  top:189px;
  width:294px;
  height:135px;
}
#u239 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:290px;
  word-wrap:break-word;
}
#u240_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:171px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u240 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:389px;
  width:334px;
  height:171px;
}
#u241 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:5px;
  width:324px;
  word-wrap:break-word;
}
#u242_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:687px;
  height:118px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u242 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:655px;
  width:687px;
  height:118px;
}
#u243 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:5px;
  width:677px;
  word-wrap:break-word;
}
#u244 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:324px;
  width:0px;
  height:0px;
  text-align:left;
}
#u244_seg0 {
  border-width:0px;
  position:absolute;
  left:-34px;
  top:28px;
  width:68px;
  height:8px;
  -webkit-transform:rotate(-90.8814039965821deg);
  -moz-transform:rotate(-90.8814039965821deg);
  -ms-transform:rotate(-90.8814039965821deg);
  transform:rotate(-90.8814039965821deg);
}
#u244_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u244_seg2 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:65px;
  width:1px;
  height:1px;
}
#u245 {
  border-width:0px;
  position:absolute;
  left:-49px;
  top:25px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u246 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:560px;
  width:0px;
  height:0px;
  text-align:left;
}
#u246_seg0 {
  border-width:0px;
  position:absolute;
  left:-49px;
  top:44px;
  width:98px;
  height:8px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u246_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u246_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:95px;
  width:1px;
  height:1px;
}
#u247 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:40px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u248_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-2px;
  width:31px;
  height:73px;
}
#u248 {
  border-width:0px;
  position:absolute;
  left:412px;
  top:72px;
  width:5px;
  height:58px;
}
#u249 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u250 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:130px;
  width:0px;
  height:0px;
  text-align:left;
}
#u250_seg0 {
  border-width:0px;
  position:absolute;
  left:-31px;
  top:26px;
  width:62px;
  height:8px;
  -webkit-transform:rotate(-89.0289780689208deg);
  -moz-transform:rotate(-89.0289780689208deg);
  -ms-transform:rotate(-89.0289780689208deg);
  transform:rotate(-89.0289780689208deg);
}
#u250_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u250_seg2 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:59px;
  width:1px;
  height:1px;
}
#u251 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u252_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:97px;
}
#u252 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:1104px;
  width:177px;
  height:96px;
}
#u253 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:173px;
  word-wrap:break-word;
}
#u254_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:143px;
}
#u254 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:855px;
  width:182px;
  height:143px;
}
#u255 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:48px;
  width:178px;
  word-wrap:break-word;
}
#u256_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u256 {
  border-width:0px;
  position:absolute;
  left:658px;
  top:897px;
  width:100px;
  height:60px;
}
#u257 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u258 {
  border-width:0px;
  position:absolute;
  left:506px;
  top:927px;
  width:0px;
  height:0px;
  text-align:left;
}
#u258_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-3px;
  width:152px;
  height:6px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u258_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u258_seg2 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:0px;
  width:1px;
  height:1px;
}
#u259 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u260 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:998px;
  width:0px;
  height:0px;
  text-align:left;
}
#u260_seg0 {
  border-width:0px;
  position:absolute;
  left:-53px;
  top:50px;
  width:106px;
  height:6px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u260_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u260_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:106px;
  width:1px;
  height:1px;
}
#u261 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:45px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u262 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:773px;
  width:0px;
  height:0px;
  text-align:left;
}
#u262_seg0 {
  border-width:0px;
  position:absolute;
  left:-41px;
  top:37px;
  width:82px;
  height:8px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u262_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u262_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:82px;
  width:1px;
  height:1px;
}
#u263 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:33px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u264_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u264 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:1127px;
  width:50px;
  height:50px;
}
#u265 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u266_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u266 {
  border-width:0px;
  position:absolute;
  left:796px;
  top:902px;
  width:50px;
  height:50px;
}
#u267 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
