<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Example - example-ng-repeat-production</title>
    <link href="css/animation.css" rel="stylesheet" type="text/css">
    <link href='css/app.css' rel='stylesheet' type='text/css'>

    <script src="angular/angular.min.js"></script>
    <script src="angular/angular-animate.js"></script>
    <script src="angular/angular-route.js"></script>
    <script src="script.js"></script>

</head>
<body ng-app="ngRepeat">
    <div ng-controller="repeatController">
        <div id="content" class="container">
            <div class="row">
                <section class="6u">
                    <br> List of movies
                    <input type="search" ng-model="q" placeholder="filter movies..." aria-label="filter movies" />
                    <!-- <ul class="example-animate-container"> -->
                    <li class="animate-repeat" ng-repeat="movie in movies | filter:q as results">
                        <div class="row">
                            <section class="6u">
                                <ul>
                                    <br>
                                    <picture>
                                        <a href="../mbooks-1/rest/book/venue/{{movie.movieId}}" class="image full"><img id="image_id_{{$index + 1}}" ng-src="../simple-service-webapp/webapi/myresource{{movie.large_picture}}" alt="" width="50%" height="50%"></a>
                                    </picture>
                                </ul>
                                <header>
                                    <h2>[{{$index + 1}}] Title: {{movie.name}}</h2>
                                </header>
                                <p>{{movie.detail}}</p>
                                <details>
                                    "hello"
                                </details>
                                <li>
                                    <a href={{movie.iMDB_url}}>Link</a>
                                </li>
                            </section>
                        </div>
                    </li>
                    <li class="animate-repeat" ng-if="results.length === 0">
                        <strong>No results found...</strong>
                    </li>
                    <!-- </ul> -->
                </section>
            </div>
        </div>
        <!--
        <div ng-repeat="movie in movies">
            <div id="content" class="container">
                <div class="row">
                    <section class="6u">
                        <header>
                            <h2>Title: {{movie.name}}</h2>
                        </header>
                        <ul>
                            <a href="../mbooks-1/rest/book/venue/{{movie.movieId}}" class="image full"><img src="../simple-service-webapp/webapi/myresource{{movie.large_picture}}" alt="" width="50%" height="50%"></a>
                        </ul>
                        <p>{{movie.detail}}</p>
                        <li>
                            <a href={{movie.iMDB_url}}>Link</a>
                        </li>
                    </section>
                </div>
            </div>
        </div>
        -->
    </div>
</body>

</html>