<?xml version="1.0" encoding="utf-8"?>
<!-- <!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
										 "hibernate-configuration-3.0.dtd">
-->
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<!-- it uses local dtd file -->
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/book</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.CharSet">utf8</property>
        <property name="hibernate.connection.charecterEncoding">utf8</property>
        <property name="hibernate.connection.username">sqluser</property>
        <property name="hibernate.connection.password">sqluserpw</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.connection.autocommit">false</property>
<!-- <property name="hibernate.hbm2ddl.auto">create</property> -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.generate_statistics">true</property>
        <property name="hibernate.search.default.directory_provider">filesystem</property>
		<property name="hibernate.search.default.indexBase">${project.basedir}"</property>
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">100</property>
        <property name="hibernate.c3p0.timeout">0</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <property name="hibernate.c3p0.idle_test_period">0</property>
        <property name="hibernate.cache.region.factory_class">org.hibernate.cache.infinispan.InfinispanRegionFactory</property>
        <property name="hibernate.cache.use_query_cache">true</property>
        <mapping class="com.jeet.api.Ticket" />
        <mapping class="com.jeet.api.Movie" />
        <mapping class="com.jeet.api.Screen" />
        <mapping class="com.jeet.api.Seats" />
        <mapping class="com.jeet.api.Venues" />
        <mapping class="com.jeet.api.ScreeningDates" />
        <mapping class="com.jeet.api.Location" />
        <mapping class="com.jeet.api.Purchase" />
        <class-cache class="com.jeet.api.Movie" include="all" region="movies" usage="read-write" />
        <class-cache class="com.jeet.api.Venues" include="all" region="venues" usage="read-write" />
        <class-cache class="com.jeet.api.Location" include="all" region="location" usage="read-write" />
<!--     
         <property name="hibernate.cache.region.factory_class" value="org.jboss.as.jpa.hibernate5.infinispan.InfinispanRegionFactory" />
         -->
    </session-factory>
</hibernate-configuration>
