body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:970px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u446_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-2px;
  width:31px;
  height:76px;
}
#u446 {
  border-width:0px;
  position:absolute;
  left:597px;
  top:29px;
  width:5px;
  height:61px;
}
#u447 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u448_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:131px;
}
#u448 {
  border-width:0px;
  position:absolute;
  left:516px;
  top:333px;
  width:168px;
  height:131px;
}
#u449 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:50px;
  width:164px;
  word-wrap:break-word;
}
#u450_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:90px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u450 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:226px;
  width:174px;
  height:90px;
}
#u451 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:5px;
  width:167px;
  word-wrap:break-word;
}
#u452_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:75px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u452 {
  border-width:0px;
  position:absolute;
  left:492px;
  top:572px;
  width:217px;
  height:75px;
}
#u453 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:2px;
  width:210px;
  word-wrap:break-word;
}
#u454_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:116px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u454 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:341px;
  width:158px;
  height:116px;
}
#u455 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:5px;
  width:151px;
  word-wrap:break-word;
}
#u456 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:316px;
  width:0px;
  height:0px;
  text-align:left;
}
#u456_seg0 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:4px;
  width:20px;
  height:8px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u456_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u456_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:17px;
  width:1px;
  height:1px;
}
#u457 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:1px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u458_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-2px;
  width:31px;
  height:86px;
}
#u458 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:474px;
  width:5px;
  height:71px;
}
#u459 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u460_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-2px;
  width:31px;
  height:86px;
}
#u460 {
  border-width:0px;
  position:absolute;
  left:438px;
  top:364px;
  width:5px;
  height:71px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u461 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u462 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:464px;
  width:0px;
  height:0px;
  text-align:left;
}
#u462_seg0 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:0px;
  width:12px;
  height:10px;
  -webkit-transform:rotate(-95.7105931374996deg);
  -moz-transform:rotate(-95.7105931374996deg);
  -ms-transform:rotate(-95.7105931374996deg);
  transform:rotate(-95.7105931374996deg);
}
#u462_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u462_seg2 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:10px;
  width:1px;
  height:1px;
}
#u463 {
  border-width:0px;
  position:absolute;
  left:-49px;
  top:-3px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u464 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:545px;
  width:0px;
  height:0px;
  text-align:left;
}
#u464_seg0 {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:9px;
  width:30px;
  height:8px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u464_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u464_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:27px;
  width:1px;
  height:1px;
}
#u465 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u466 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:400px;
  width:0px;
  height:0px;
  text-align:left;
}
#u466_seg0 {
  border-width:0px;
  position:absolute;
  left:-71px;
  top:-4px;
  width:72px;
  height:8px;
  -webkit-transform:rotate(0.818455461688614deg);
  -moz-transform:rotate(0.818455461688614deg);
  -ms-transform:rotate(0.818455461688614deg);
  transform:rotate(0.818455461688614deg);
}
#u466_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u466_seg2 {
  border-width:0px;
  position:absolute;
  left:-70px;
  top:-1px;
  width:1px;
  height:1px;
}
#u467 {
  border-width:0px;
  position:absolute;
  left:-85px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u468_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:50px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u468 {
  border-width:0px;
  position:absolute;
  left:773px;
  top:373px;
  width:197px;
  height:50px;
}
#u469 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:2px;
  width:190px;
  word-wrap:break-word;
}
#u470 {
  border-width:0px;
  position:absolute;
  left:684px;
  top:399px;
  width:0px;
  height:0px;
  text-align:left;
}
#u470_seg0 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-5px;
  width:92px;
  height:8px;
  -webkit-transform:rotate(179.356254285825deg);
  -moz-transform:rotate(179.356254285825deg);
  -ms-transform:rotate(179.356254285825deg);
  transform:rotate(179.356254285825deg);
}
#u470_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u470_seg2 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:-1px;
  width:1px;
  height:1px;
}
#u471 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u472_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:81px;
}
#u472 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:959px;
  width:134px;
  height:80px;
}
#u473 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:130px;
  word-wrap:break-word;
}
#u474 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:400px;
  width:0px;
  height:0px;
  text-align:left;
}
#u474_seg0 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-4px;
  width:44px;
  height:8px;
  -webkit-transform:rotate(178.567903815835deg);
  -moz-transform:rotate(178.567903815835deg);
  -ms-transform:rotate(178.567903815835deg);
  transform:rotate(178.567903815835deg);
}
#u474_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u474_seg2 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:-1px;
  width:1px;
  height:1px;
}
#u475 {
  border-width:0px;
  position:absolute;
  left:-30px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u476_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u476 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:135px;
  width:100px;
  height:60px;
}
#u477 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:7px;
  width:93px;
  word-wrap:break-word;
}
#u478 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:90px;
  width:0px;
  height:0px;
  text-align:left;
}
#u478_seg0 {
  border-width:0px;
  position:absolute;
  left:-24px;
  top:18px;
  width:48px;
  height:8px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u478_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u478_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:45px;
  width:1px;
  height:1px;
}
#u479 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:15px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u480 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:195px;
  width:0px;
  height:0px;
  text-align:left;
}
#u480_seg0 {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:11px;
  width:32px;
  height:8px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u480_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u480_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:31px;
  width:1px;
  height:1px;
}
#u481 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u482_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:38px;
}
#u482 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:252px;
  width:60px;
  height:37px;
}
#u483 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:56px;
  word-wrap:break-word;
}
#u484 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:271px;
  width:0px;
  height:0px;
  text-align:left;
}
#u484_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-3px;
  width:66px;
  height:6px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u484_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u484_seg2 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:0px;
  width:1px;
  height:1px;
}
#u485 {
  border-width:0px;
  position:absolute;
  left:-17px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u486_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:38px;
}
#u486 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:147px;
  width:60px;
  height:37px;
}
#u487 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:56px;
  word-wrap:break-word;
}
#u488 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:166px;
  width:0px;
  height:0px;
  text-align:left;
}
#u488_seg0 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-4px;
  width:84px;
  height:8px;
  -webkit-transform:rotate(179.28384005453deg);
  -moz-transform:rotate(179.28384005453deg);
  -ms-transform:rotate(179.28384005453deg);
  transform:rotate(179.28384005453deg);
}
#u488_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u488_seg2 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:-1px;
  width:1px;
  height:1px;
}
#u489 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u490_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:93px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u490 {
  border-width:0px;
  position:absolute;
  left:515px;
  top:721px;
  width:171px;
  height:93px;
}
#u491 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:5px;
  width:164px;
  word-wrap:break-word;
}
#u492 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:457px;
  width:0px;
  height:0px;
  text-align:left;
}
#u492_seg0 {
  border-width:0px;
  position:absolute;
  left:-64px;
  top:83px;
  width:217px;
  height:20px;
  -webkit-transform:rotate(62deg);
  -moz-transform:rotate(62deg);
  -ms-transform:rotate(62deg);
  transform:rotate(62deg);
}
#u492_seg1 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:241px;
  width:214px;
  height:18px;
  -webkit-transform:rotate(39deg);
  -moz-transform:rotate(39deg);
  -ms-transform:rotate(39deg);
  transform:rotate(39deg);
}
#u492_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u492_seg3 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:311px;
  width:1px;
  height:1px;
}
#u493 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:173px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u494 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:647px;
  width:0px;
  height:0px;
  text-align:left;
}
#u494_seg0 {
  border-width:0px;
  position:absolute;
  left:-37px;
  top:33px;
  width:74px;
  height:8px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u494_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u494_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:74px;
  width:1px;
  height:1px;
}
#u495 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:29px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u496 {
  border-width:0px;
  position:absolute;
  left:872px;
  top:423px;
  width:0px;
  height:0px;
  text-align:left;
}
#u496_seg0 {
  border-width:0px;
  position:absolute;
  left:-128px;
  top:89px;
  width:207px;
  height:16px;
  -webkit-transform:rotate(107deg);
  -moz-transform:rotate(107deg);
  -ms-transform:rotate(107deg);
  transform:rotate(107deg);
}
#u496_seg1 {
  border-width:0px;
  position:absolute;
  left:-223px;
  top:261px;
  width:209px;
  height:20px;
  -webkit-transform:rotate(130deg);
  -moz-transform:rotate(130deg);
  -ms-transform:rotate(130deg);
  transform:rotate(130deg);
}
#u496_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u496_seg3 {
  border-width:0px;
  position:absolute;
  left:-186px;
  top:345px;
  width:1px;
  height:1px;
}
#u497 {
  border-width:0px;
  position:absolute;
  left:-108px;
  top:183px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u498_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-2px;
  width:31px;
  height:86px;
}
#u498 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:846px;
  width:5px;
  height:71px;
}
#u499 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u500 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:814px;
  width:0px;
  height:0px;
  text-align:left;
}
#u500_seg0 {
  border-width:0px;
  position:absolute;
  left:-17px;
  top:12px;
  width:34px;
  height:8px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u500_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u500_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:32px;
  width:1px;
  height:1px;
}
#u501 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u502 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:917px;
  width:0px;
  height:0px;
  text-align:left;
}
#u502_seg0 {
  border-width:0px;
  position:absolute;
  left:-21px;
  top:17px;
  width:42px;
  height:8px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u502_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u502_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:42px;
  width:1px;
  height:1px;
}
#u503 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:13px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u504_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u504 {
  border-width:0px;
  position:absolute;
  left:443px;
  top:974px;
  width:50px;
  height:50px;
}
#u505 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
