<!DOCTYPE html>
<html ng-app="hmac">

<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <script type="text/javascript" src="jsR/angular.min.js"></script>
    <script type="text/javascript" src="jsR/sha3.js"></script>
    <script type="text/javascript" src="jsR/sha512.js"></script>
    <script type="text/javascript" src="jsR/hmac-sha512.js"></script>
    <script type="text/javascript" src="jsR/app.js"></script>
    <script type="text/javascript" src="jsR/enc-base64-min.js"></script>
    <script type="text/javascript" src="jsR/angular-utf8-base64.min.js"></script>
    <script type="text/javascript" src="jsR/ng-device-detector.min.js"></script>
    <script type="text/javascript" src="jsR/re-tree/re-tree.min.js"></script>
    <script type="text/javascript" src="js/lib/aes.js"></script>
    <script type="text/javascript" src="js/lib/pbkdf2.js"></script>
    <script type="text/javascript" src="js/AesUtil.js"></script>

    <style type="text/css">
        .login-form {
            max-width: 300px;
            margin: 0 auto;
        }
        
        #inputUsername {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
        
        #inputPassword {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    </style>
</head>

<body>
    <div class="container">
        <div ng-controller="ForgetPSWController">
            <form class="login-form">
                <h4>Forgot password</h4>
                <section class="4u">
                    <label for="email" class="sr-only">Email</label>
                    <input required type="text" name=email id="email" ng-change="clearErrorMsg()" ng-model="email" ng-disabled="modelE.isDisabled" />
                    <br />
                </section>
                <div class="row">
                    <section class="4u">
                        <br>
                        <div class="alert alert-danger" role="alert" ng-show="errorMsg">{{errorMsg}}</div>
                        <div class="alert alert-danger" role="alert" ng-show="successMsg">{{successMsg}}</div>
                        <br>
                        <button ng-disabled="modelE.isDisabled" ng-click="forgetPsw()">Request new password</button>
                        <input ng-disabled="modelE.isDisabled" type="reset" value="Cancel" />
                    </section>
                </div>
                <h5>Enter code from email</h5>
                <div class="row">
                    <section class="4u">
                        <label for="confirmationCode" class="sr-only">Confirmation code</label>
                        <input ng-autofocus="true" required type="text" name=confirmationCode id="confirmationCode" ng-model="confirmationCode" ng-disabled="modelC.isDisabled" />
                        <br>
                        <br>
                        <button ng-disabled="modelC.isDisabled" ng-click="enterCode()">Submit</button>
                    </section>
                    <section class="4u">
                        <br>
                        <div class="alert alert-danger" role="alert" ng-show="error_Msg">{{error_Msg}}</div>
                        <div class="alert alert-danger" role="alert" ng-show="success_Msg">{{success_Msg}}</div>
                        <br>
                    </section>
                </div>
                <h5>Change password</h5>
                <div class="row">
                    <section class="4u">
                        <label for="password" class="sr-only">New password</label>
                        <input ng-show="password" ng-autofocus="true" required type="password" ng-model="password" ng-disabled="modelP.isDisabled" />
                        <br>
                        <br>
                        <button ng-disabled="modelP.isDisabled" ng-click="changePSw()">Submit</button>
                    </section>
                    <section class="4u">
                        <br>
                        <div class="alert alert-danger" role="alert" ng-show="errorMsg_">{{errorMsg_}}</div>
                        <div class="alert alert-danger" role="alert" ng-show="successMsg_">{{successMsg_}}</div>
                        <br>
                    </section>
                </div>
            </form>
        </div>
    </div>

</body>

</html>