<!doctype html>
<html ng-app="ngRouteExample" lang="en">

<head>
    <meta charset="UTF-8">

</head>

<body ng-controller="ExampleController">
    <br>
    <br>
    <div id="content" class="container">
        <div class="row">
            <section class="6u">
                <ul>

                    <div class="animate-repeat" ng-repeat="data in dates | filter:q as results">
                        <div id="content" class="container">
                            <div class="row">
                                <section class="6u">
                                    <ul>
                                        <picture>
                                            <a href="#" class="image full"><img id="image_id_{{$index + 1}}" ng-src="../simple-service-webapp/webapi/myresource{{data.venues_picture}}" alt="" width="25%" height="25%" referrerpolicy="origin"></a>
                                        </picture>

                                    </ul>
                                </section>
                            </div>
                        </div>
                    </div>
                    <ul>
                        <br>
                        <br>
                        <form name="myForm">
                            <label for="repeatSelect"> Select date: </label>
                            <select name="repeatSelect" id="repeatSelect" ng-model="data.model">
                                <option ng-repeat="option in dates" value="{{option.movieId}}">{{option.screeningDate}}</option>
                            </select>
                        </form>
                    </ul>
                </ul>

            </section>
        </div>
    </div>
    <hr>
    <tt>model = {{data.model}}</tt>
    <br/>
</body>

</html>