<!doctype html>
<html ng-app="ngRouteExample" lang="en">

<head>
    <meta charset="UTF-8">

    <link href="css/animation.css" rel="stylesheet" type="text/css">

</head>

<body ng-controller="BookController">

    <div id="content" class="container">
        <div class="row">
            <section class="6u">
                <br> List of venues
                <input type="search" ng-model="q" placeholder="filter venues..." aria-label="filter venues" />
                <div class="animate-repeat" ng-repeat="venue in venues | filter:q as results">
                    <div id="content" class="container">
                        <div class="row">
                            <section class="6u">
                                <ul>
                                    <picture>
                                        <a href="mbooks-1/rest/book/dates/{{venue.venuesId}}/{{$routeParams.bookId}}" class="image full"><img id="image_id_{{$index + 1}}" ng-src="../simple-service-webapp/webapi/myresource{{venue.venues_picture}}" alt="" width="50%" height="50%" referrerpolicy="origin"></a>
                                    </picture>
                                    <header>
                                        <h2>[{{$index + 1}}] Venues: {{venue.name}}</h2>
                                    </header>

                                    <details>
                                        "hello"
                                    </details>
                                </ul>
                            </section>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>