body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:958px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u650_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-2px;
  width:31px;
  height:68px;
}
#u650 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:36px;
  width:5px;
  height:53px;
}
#u651 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u652_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:70px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u652 {
  border-width:0px;
  position:absolute;
  left:408px;
  top:115px;
  width:163px;
  height:70px;
  text-align:left;
}
#u653 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:159px;
  word-wrap:break-word;
}
#u654 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:89px;
  width:0px;
  height:0px;
  text-align:left;
}
#u654_seg0 {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:9px;
  width:28px;
  height:8px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u654_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u654_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:26px;
  width:1px;
  height:1px;
}
#u655 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:5px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u656_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:281px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u656 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:256px;
  width:428px;
  height:281px;
}
#u657 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:2px;
  width:418px;
  word-wrap:break-word;
}
#u658 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:185px;
  width:0px;
  height:0px;
  text-align:left;
}
#u658_seg0 {
  border-width:0px;
  position:absolute;
  left:-38px;
  top:31px;
  width:74px;
  height:8px;
  -webkit-transform:rotate(-89.1930705448976deg);
  -moz-transform:rotate(-89.1930705448976deg);
  -ms-transform:rotate(-89.1930705448976deg);
  transform:rotate(-89.1930705448976deg);
}
#u658_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u658_seg2 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:71px;
  width:1px;
  height:1px;
}
#u659 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:28px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u660_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:38px;
}
#u660 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:378px;
  width:60px;
  height:37px;
}
#u661 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:56px;
  word-wrap:break-word;
}
#u662 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:397px;
  width:0px;
  height:0px;
  text-align:left;
}
#u662_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-3px;
  width:84px;
  height:6px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u662_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u662_seg2 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:0px;
  width:1px;
  height:1px;
}
#u663 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u664_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:175px;
}
#u664 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:579px;
  width:280px;
  height:175px;
}
#u665 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:64px;
  width:276px;
  word-wrap:break-word;
}
#u666 {
  border-width:0px;
  position:absolute;
  left:629px;
  top:667px;
  width:0px;
  height:0px;
  text-align:left;
}
#u666_seg0 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-3px;
  width:124px;
  height:6px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u666_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u666_seg2 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:0px;
  width:1px;
  height:1px;
}
#u667 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u668_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:67px;
}
#u668 {
  border-width:0px;
  position:absolute;
  left:752px;
  top:633px;
  width:120px;
  height:67px;
}
#u669 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:116px;
  word-wrap:break-word;
}
#u670_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:67px;
}
#u670 {
  border-width:0px;
  position:absolute;
  left:429px;
  top:1028px;
  width:120px;
  height:67px;
}
#u671 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:116px;
  word-wrap:break-word;
}
#u672 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:754px;
  width:0px;
  height:0px;
  text-align:left;
}
#u672_seg0 {
  border-width:0px;
  position:absolute;
  left:-31px;
  top:26px;
  width:62px;
  height:8px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u672_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u672_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:1px;
  height:1px;
}
#u673 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u674 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:941px;
  width:0px;
  height:0px;
  text-align:left;
}
#u674_seg0 {
  border-width:0px;
  position:absolute;
  left:-45px;
  top:39px;
  width:90px;
  height:8px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u674_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u674_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:87px;
  width:1px;
  height:1px;
}
#u675 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:36px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u676_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:127px;
}
#u676 {
  border-width:0px;
  position:absolute;
  left:386px;
  top:814px;
  width:206px;
  height:127px;
}
#u677 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:48px;
  width:202px;
  word-wrap:break-word;
}
#u678 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:537px;
  width:0px;
  height:0px;
  text-align:left;
}
#u678_seg0 {
  border-width:0px;
  position:absolute;
  left:-21px;
  top:17px;
  width:42px;
  height:8px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u678_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u678_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:42px;
  width:1px;
  height:1px;
}
#u679 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:13px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u680_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:67px;
}
#u680 {
  border-width:0px;
  position:absolute;
  left:752px;
  top:844px;
  width:120px;
  height:67px;
}
#u681 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:116px;
  word-wrap:break-word;
}
#u682 {
  border-width:0px;
  position:absolute;
  left:592px;
  top:878px;
  width:0px;
  height:0px;
  text-align:left;
}
#u682_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:160px;
  height:8px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u682_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u682_seg2 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:0px;
  width:1px;
  height:1px;
}
#u683 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u684_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u684 {
  border-width:0px;
  position:absolute;
  left:908px;
  top:642px;
  width:50px;
  height:50px;
}
#u685 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u686_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u686 {
  border-width:0px;
  position:absolute;
  left:908px;
  top:853px;
  width:50px;
  height:50px;
}
#u687 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u688_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u688 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:1037px;
  width:50px;
  height:50px;
}
#u689 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
