<!DOCTYPE HTML>
<!--
	Linear by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<head>
    <title>Linear by TEMPLATED</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link href='//fonts.googleapis.com/css?family=Roboto:400,100,300,700,500,900' rel='stylesheet' type='text/css'>

    <link href="movies/css/animation.css" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="movies/oldAngular/angular.min.js"></script>
    <script type="text/javascript" src="movies/js/hmac-sha512.js"></script>
    <script type="text/javascript" src="movies/js/script.js"></script>
    <script type="text/javascript" src="movies/js/enc-base64-min.js"></script>
    <script type="text/javascript" src="movies/js/angular-utf8-base64.min.js"></script>

    <script type="text/javascript" src="movies/angular/angular-animate.js"></script>
    <script type="text/javascript" src="movies/angular/angular-route.min.js"></script>
    <script type="text/javascript" src="movies/oldAngular/angular-cookies.min.js"></script>

    <!-- <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script> -->
    <script src="jQuery/jquery.min.js"></script>
    <script src="js/skel.min.js"></script>
    <script src="js/skel-panels.min.js"></script>
    <script src="js/init.js"></script>
    <noscript>
        <link rel="stylesheet" href="css/skel-noscript.css" />
        <link rel="stylesheet" href="css/style.css" />
        <link rel="stylesheet" href="css/style-desktop.css" />
    </noscript>
</head>

<body>

    <!-- Header -->
    <div id="header">
        <div id="nav-wrapper">
            <!-- Nav -->
            <nav id="nav">
                <ul>
                    <li><a href="index.jsp">Homepage</a></li>
                    <li class="active"><a href="left-sidebar.html">Left Sidebar</a></li>
                    <li><a href="right-sidebar.html">Right Sidebar</a></li>
                    <li><a href="no-sidebar.html">No Sidebar</a></li>
                </ul>
            </nav>
        </div>
        <div class="container">

            <!-- Logo -->
            <div id="logo">
                <h1><a href="#">Linear</a></h1>
                <span class="tag">By TEMPLATED</span>
            </div>
        </div>
    </div>
    <!-- Header -->

    <!-- Main -->
    <div id="main">
        <div class="container">
            <div class="row">

                <!-- Sidebar -->
                <div id="sidebar" class="4u">
                    <section>
                        <header>
                            <h2>Etiam malesuada</h2>
                        </header>
                        <div class="row">
                            <section class="6u">
                                <ul class="default">
                                    <li><a href="#">Donec facilisis tempor</a></li>
                                    <li><a href="#">Nulla convallis cursus</a></li>
                                    <li><a href="#">Integer congue euismod</a></li>
                                    <li><a href="#">Venenatis vulputate</a></li>
                                    <li><a href="#">Morbi ligula volutpat</a></li>
                                </ul>
                            </section>
                            <section class="6u">
                                <ul class="default">
                                    <li><a href="#">Donec facilisis tempor</a></li>
                                    <li><a href="#">Nulla convallis cursus</a></li>
                                    <li><a href="#">Integer congue euismod</a></li>
                                    <li><a href="#">Venenatis vulputate</a></li>
                                    <li><a href="#">Morbi ligula volutpat</a></li>
                                </ul>
                            </section>
                        </div>
                    </section>
                    <section>
                        <header>
                            <h2>Mauris vulputate</h2>
                        </header>
                        <ul class="style">
                            <li>
                                <p class="posted">May 21, 2014 | (10 ) Comments</p>
                                <p><a href="#">Nullam non wisi a sem eleifend. Donec mattis libero eget urna. Pellentesque viverra enim.</a></p>
                            </li>
                            <li>
                                <p class="posted">May 18, 2014 | (10 ) Comments</p>
                                <p><a href="#">Nullam non wisi a sem eleifend. Donec mattis libero eget urna. Pellentesque viverra enim.</a></p>
                            </li>
                        </ul>
                    </section>
                </div>

                <!-- Content -->
                <div id="content" class="8u skel-cell-important" ng-app="ngRepeat">
                    <div ng-controller="repeatController">

                        <a href="/example/left-sidebar.html">Home</a>
                        <br>
                        <div ng-view></div>
                        <div ng-switch on="$location.path()">
                            <div ng-switch-when='/left-sidebar.html'>
                                <br> List of movies
                                <input type="search" ng-model="q" placeholder="filter movies..." aria-label="filter movies" />
                                <br>
                                <br>
                                <div class="animate-repeat" ng-repeat="movie in movies | filter:q as results">
                                    <div>
                                        <div id="content" class="container">
                                            <div class="row">
                                                <section class="6u">
                                                    <ul>
                                                        <a href="mbooks-1/rest/book/venue/{{movie.movieId}}" class="image full"><img id="image_id_{{$index + 1}}" ng-src="../simple-service-webapp/webapi/myresource{{movie.large_picture}}" alt="" width="50%" height="50%"></a>
                                                    </ul>
                                                    <header>
                                                        <h3>Title: {{movie.name}}</h3>
                                                    </header>
                                                    <p>{{movie.detail}}</p>
                                                    <li>
                                                        <a href={{movie.iMDB_url}}>Link</a>
                                                        <br>
                                                        <br>
                                                    </li>
                                                </section>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <li class="animate-repeat" ng-if="results.length === 0">
                                    <strong>No results found...</strong>
                                </li>
                            </div>
                        </div>
                        <hr />

                        <pre>$location.path() = {{$location.path()}}</pre>
                        <pre>$route.current.templateUrl = {{$route.current.templateUrl}}</pre>
                        <pre>$route.current.params = {{$route.current.params}}</pre>
                        <pre>$route.current.scope.name = {{$route.current.scope.name}}</pre>
                        <pre>$routeParams = {{$routeParams}}</pre>
                        <pre>venus_picture = {{$venueParams}}</pre>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- /Main -->

    <!-- Tweet -->
    <div id="tweet">
        <div class="container">
            <section>
                <blockquote>&ldquo;In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat.&rdquo;</blockquote>
            </section>
        </div>
    </div>
    <!-- /Tweet -->

    <!-- Footer -->
    <div id="footer">
        <div class="container">
            <section>
                <header>
                    <h2>Get in touch</h2>
                    <span class="byline">Integer sit amet pede vel arcu aliquet pretium</span>
                </header>
                <ul class="contact">
                    <li><a href="#" class="fa fa-twitter"><span>Twitter</span></a></li>
                    <li class="active"><a href="#" class="fa fa-facebook"><span>Facebook</span></a></li>
                    <li><a href="#" class="fa fa-dribbble"><span>Pinterest</span></a></li>
                    <li><a href="#" class="fa fa-tumblr"><span>Google+</span></a></li>
                </ul>
            </section>
        </div>
    </div>
    <!-- /Footer -->

    <!-- Copyright -->
    <div id="copyright">
        <div class="container">
            Design: <a href="http://templated.co">TEMPLATED</a> Images: <a href="http://unsplash.com">Unsplash</a> (<a href="http://unsplash.com/cc0">CC0</a>)
        </div>
    </div>


</body>

</html>