<?xml version="1.0" encoding="UTF-8"?>
<!-- <!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
										 "hibernate-configuration-3.0.dtd">
-->
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="">
  <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/book</property>
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.username">sqluser</property>
  <property name="hibernate.connection.password">sqluserpw</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="hibernate.current_session_context_class">thread</property>
  <property name="hibernate.connection.autocommit">false</property>
  <!-- <property name="hibernate.hbm2ddl.auto">create</property> -->
  <property name="hibernate.show_sql">true</property>
  <property name="hibernate.format_sql">true</property>
  <property name="hibernate.generate_statistics">true</property>
  <property name="hibernate.search.default.directory_provider">infinispan</property>
  <property name="hibernate.search.default.indexBase">/tmp/lucene/indexes</property>
  <property name="hibernate.c3p0.min_size">5</property>
  <property name="hibernate.c3p0.max_size">100</property>
  <property name="hibernate.c3p0.timeout">0</property>
  <property name="hibernate.c3p0.max_statements">50</property>
  <property name="hibernate.c3p0.idle_test_period">0</property>
  <property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>
  <!-- For singleton factory 
 <property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.SingletonEhCacheRegionFactory</property>
         
 enable second level cache and query cache -->
  <property name="hibernate.cache.use_second_level_cache">true</property>
  <property name="hibernate.cache.use_query_cache">true</property>
  <property name="net.sf.ehcache.configurationResourceName">ehcache.xml</property>
  <mapping class="com.jeet.api.Ticket" />
  <mapping class="com.jeet.api.Movie" />
  <mapping class="com.jeet.api.Screen" />
  <mapping class="com.jeet.api.Seats" />
  <mapping class="com.jeet.api.Venues" />
  <mapping class="com.jeet.api.ScreeningDates" />
  <mapping class="com.jeet.api.Location" />
  <mapping class="com.jeet.api.Purchase" />

  <class-cache class="com.jeet.api.Movie" include="all" region="movies" usage="read-only" />
  <class-cache class="com.jeet.api.Venues" include="all" region="venues" usage="read-only" />
  <class-cache class="com.jeet.api.Location" include="all" region="location" usage="read-only" />
<!--     
  <property name="hibernate.cache.region.factory_class" value="org.jboss.as.jpa.hibernate5.infinispan.InfinispanRegionFactory" />
-->
    </session-factory>
</hibernate-configuration>
