body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:569px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u232_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u232 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:25px;
  width:30px;
  height:40px;
}
#u233 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u234_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-2px;
  width:31px;
  height:61px;
}
#u234 {
  border-width:0px;
  position:absolute;
  left:409px;
  top:81px;
  width:5px;
  height:46px;
}
#u235 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u236_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:17px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u236 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:137px;
  width:100px;
  height:60px;
}
#u237 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u236_ref {
  border-width:0px;
  position:absolute;
  left:454px;
  top:187px;
  width:1px;
  height:1px;
}
#u238_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u238 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:296px;
  width:100px;
  height:60px;
}
#u239 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u240_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:81px;
}
#u240 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:25px;
  width:50px;
  height:80px;
}
#u241 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u242_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u242 {
  border-width:0px;
  position:absolute;
  left:509px;
  top:137px;
  width:60px;
  height:60px;
}
#u243 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  word-wrap:break-word;
}
#u244 {
  border-width:0px;
  position:absolute;
  left:412px;
  top:127px;
  width:0px;
  height:0px;
}
#u244_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:14px;
}
#u245 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-3px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u246 {
  border-width:0px;
  position:absolute;
  left:399px;
  top:65px;
  width:0px;
  height:0px;
}
#u246_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:12px;
}
#u246_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:4px;
  width:21px;
  height:8px;
}
#u246_seg2 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:4px;
  width:8px;
  height:12px;
}
#u247 {
  border-width:0px;
  position:absolute;
  left:-44px;
  top:0px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u248_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-2px;
  width:31px;
  height:70px;
}
#u248 {
  border-width:0px;
  position:absolute;
  left:409px;
  top:231px;
  width:5px;
  height:55px;
}
#u249 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u250_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-2px;
  width:31px;
  height:58px;
}
#u250 {
  border-width:0px;
  position:absolute;
  left:537px;
  top:231px;
  width:5px;
  height:43px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u251 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u252 {
  border-width:0px;
  position:absolute;
  left:412px;
  top:197px;
  width:0px;
  height:0px;
}
#u252_seg0 {
  border-width:0px;
  position:absolute;
  left:-18px;
  top:13px;
  width:36px;
  height:8px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u252_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u252_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:34px;
  width:1px;
  height:1px;
}
#u253 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u254 {
  border-width:0px;
  position:absolute;
  left:412px;
  top:286px;
  width:0px;
  height:0px;
}
#u254_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:14px;
}
#u255 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-3px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u256 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:231px;
  width:0px;
  height:0px;
}
#u256_seg0 {
  border-width:0px;
  position:absolute;
  left:-18px;
  top:-21px;
  width:36px;
  height:8px;
  -webkit-transform:rotate(88.3153156821037deg);
  -moz-transform:rotate(88.3153156821037deg);
  -ms-transform:rotate(88.3153156821037deg);
  transform:rotate(88.3153156821037deg);
}
#u256_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u256_seg2 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-34px;
  width:1px;
  height:1px;
}
#u257 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-25px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u258 {
  border-width:0px;
  position:absolute;
  left:462px;
  top:326px;
  width:0px;
  height:0px;
}
#u258_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:82px;
  height:8px;
}
#u258_seg1 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:-52px;
  width:8px;
  height:56px;
}
#u259 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u260_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:79px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u260 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:476px;
  width:119px;
  height:79px;
}
#u261 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:115px;
  word-wrap:break-word;
}
#u262_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-2px;
  width:31px;
  height:55px;
}
#u262 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:395px;
  width:5px;
  height:40px;
}
#u263 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u264 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:435px;
  width:0px;
  height:0px;
  text-align:left;
}
#u264_seg0 {
  border-width:0px;
  position:absolute;
  left:-21px;
  top:17px;
  width:42px;
  height:8px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u264_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u264_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:41px;
  width:1px;
  height:1px;
}
#u265 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:13px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u266 {
  border-width:0px;
  position:absolute;
  left:412px;
  top:356px;
  width:0px;
  height:0px;
  text-align:left;
}
#u266_seg0 {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:16px;
  width:42px;
  height:8px;
  -webkit-transform:rotate(-91.4688007143858deg);
  -moz-transform:rotate(-91.4688007143858deg);
  -ms-transform:rotate(-91.4688007143858deg);
  transform:rotate(-91.4688007143858deg);
}
#u266_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u266_seg2 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:39px;
  width:1px;
  height:1px;
}
#u267 {
  border-width:0px;
  position:absolute;
  left:-49px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
