body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1344px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u638_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-2px;
  width:31px;
  height:61px;
}
#u638 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:413px;
  width:5px;
  height:46px;
}
#u639 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u640_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:102px;
}
#u640 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:489px;
  width:198px;
  height:102px;
}
#u641 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:194px;
  word-wrap:break-word;
}
#u642_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:92px;
}
#u642 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:821px;
  width:149px;
  height:92px;
}
#u643 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:145px;
  word-wrap:break-word;
}
#u644_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:92px;
}
#u644 {
  border-width:0px;
  position:absolute;
  left:491px;
  top:494px;
  width:149px;
  height:92px;
}
#u645 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:145px;
  word-wrap:break-word;
}
#u646_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u646 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:658px;
  width:100px;
  height:60px;
}
#u647 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:8px;
  width:93px;
  word-wrap:break-word;
}
#u648 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:591px;
  width:0px;
  height:0px;
  text-align:left;
}
#u648_seg0 {
  border-width:0px;
  position:absolute;
  left:-34px;
  top:29px;
  width:68px;
  height:8px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u648_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u648_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:67px;
  width:1px;
  height:1px;
}
#u649 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u650 {
  border-width:0px;
  position:absolute;
  left:351px;
  top:540px;
  width:0px;
  height:0px;
  text-align:left;
}
#u650_seg0 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-4px;
  width:142px;
  height:8px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u650_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u650_seg2 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:0px;
  width:1px;
  height:1px;
}
#u651 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u652 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:459px;
  width:0px;
  height:0px;
  text-align:left;
}
#u652_seg0 {
  border-width:0px;
  position:absolute;
  left:-17px;
  top:11px;
  width:32px;
  height:8px;
  -webkit-transform:rotate(-88.0908475670036deg);
  -moz-transform:rotate(-88.0908475670036deg);
  -ms-transform:rotate(-88.0908475670036deg);
  transform:rotate(-88.0908475670036deg);
}
#u652_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u652_seg2 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:30px;
  width:1px;
  height:1px;
}
#u653 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u654_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-2px;
  width:31px;
  height:61px;
}
#u654 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:748px;
  width:5px;
  height:46px;
}
#u655 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u656 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:718px;
  width:0px;
  height:0px;
  text-align:left;
}
#u656_seg0 {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:10px;
  width:32px;
  height:10px;
  -webkit-transform:rotate(-91.9091524329964deg);
  -moz-transform:rotate(-91.9091524329964deg);
  -ms-transform:rotate(-91.9091524329964deg);
  transform:rotate(-91.9091524329964deg);
}
#u656_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u656_seg2 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:30px;
  width:1px;
  height:1px;
}
#u657 {
  border-width:0px;
  position:absolute;
  left:-49px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u658 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:794px;
  width:0px;
  height:0px;
  text-align:left;
}
#u658_seg0 {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:10px;
  width:30px;
  height:8px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u658_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u658_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:27px;
  width:1px;
  height:1px;
}
#u659 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u660_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-2px;
  width:31px;
  height:61px;
}
#u660 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:214px;
  width:5px;
  height:46px;
}
#u661 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u662_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:109px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u662 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:294px;
  width:161px;
  height:109px;
}
#u663 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:157px;
  word-wrap:break-word;
}
#u664 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:260px;
  width:0px;
  height:0px;
  text-align:left;
}
#u664_seg0 {
  border-width:0px;
  position:absolute;
  left:-18px;
  top:14px;
  width:36px;
  height:6px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u664_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u664_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:34px;
  width:1px;
  height:1px;
}
#u665 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u666 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:403px;
  width:0px;
  height:0px;
  text-align:left;
}
#u666_seg0 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:1px;
  width:12px;
  height:8px;
  -webkit-transform:rotate(-95.7105931374996deg);
  -moz-transform:rotate(-95.7105931374996deg);
  -ms-transform:rotate(-95.7105931374996deg);
  transform:rotate(-95.7105931374996deg);
}
#u666_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u666_seg2 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:10px;
  width:1px;
  height:1px;
}
#u667 {
  border-width:0px;
  position:absolute;
  left:-49px;
  top:-3px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u668_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:58px;
}
#u668 {
  border-width:0px;
  position:absolute;
  left:732px;
  top:513px;
  width:69px;
  height:57px;
}
#u669 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:65px;
  word-wrap:break-word;
}
#u670_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:58px;
}
#u670 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:839px;
  width:69px;
  height:57px;
}
#u671 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:65px;
  word-wrap:break-word;
}
#u672 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:540px;
  width:0px;
  height:0px;
  text-align:left;
}
#u672_seg0 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-4px;
  width:96px;
  height:10px;
  -webkit-transform:rotate(-178.754635733232deg);
  -moz-transform:rotate(-178.754635733232deg);
  -ms-transform:rotate(-178.754635733232deg);
  transform:rotate(-178.754635733232deg);
}
#u672_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u672_seg2 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:2px;
  width:1px;
  height:1px;
}
#u673 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u674 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:867px;
  width:0px;
  height:0px;
  text-align:left;
}
#u674_seg0 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-3px;
  width:124px;
  height:8px;
  -webkit-transform:rotate(-179.53037298031deg);
  -moz-transform:rotate(-179.53037298031deg);
  -ms-transform:rotate(-179.53037298031deg);
  transform:rotate(-179.53037298031deg);
}
#u674_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u674_seg2 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:1px;
  width:1px;
  height:1px;
}
#u675 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:-7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u676_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:64px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u676 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:132px;
  width:225px;
  height:64px;
  text-align:left;
}
#u677 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:9px;
  width:218px;
  word-wrap:break-word;
}
#u678_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-2px;
  width:31px;
  height:61px;
}
#u678 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:61px;
  width:5px;
  height:46px;
}
#u679 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u680 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:107px;
  width:0px;
  height:0px;
  text-align:left;
}
#u680_seg0 {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:9px;
  width:28px;
  height:8px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u680_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u680_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:25px;
  width:1px;
  height:1px;
}
#u681 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:5px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u682 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:196px;
  width:0px;
  height:0px;
  text-align:left;
}
#u682_seg0 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:6px;
  width:20px;
  height:6px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u682_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u682_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:1px;
  height:1px;
}
#u683 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:1px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u684_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:95px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u684 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:1136px;
  width:190px;
  height:95px;
}
#u685 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:5px;
  width:183px;
  word-wrap:break-word;
}
#u686_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:80px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u686 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:939px;
  width:154px;
  height:80px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u687 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:150px;
  word-wrap:break-word;
}
#u688 {
  border-width:0px;
  position:absolute;
  left:566px;
  top:586px;
  width:0px;
  height:0px;
  text-align:left;
}
#u688_seg0 {
  border-width:0px;
  position:absolute;
  left:-178px;
  top:172px;
  width:356px;
  height:8px;
  -webkit-transform:rotate(-90.1623105559367deg);
  -moz-transform:rotate(-90.1623105559367deg);
  -ms-transform:rotate(-90.1623105559367deg);
  transform:rotate(-90.1623105559367deg);
}
#u688_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u688_seg2 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:353px;
  width:1px;
  height:1px;
}
#u689 {
  border-width:0px;
  position:absolute;
  left:-49px;
  top:169px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u690 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:913px;
  width:0px;
  height:0px;
  text-align:left;
}
#u690_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:29px;
  width:248px;
  height:8px;
  -webkit-transform:rotate(-164.438489674672deg);
  -moz-transform:rotate(-164.438489674672deg);
  -ms-transform:rotate(-164.438489674672deg);
  transform:rotate(-164.438489674672deg);
}
#u690_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u690_seg2 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:66px;
  width:1px;
  height:1px;
}
#u691 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:25px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u692_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:149px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u692 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:1249px;
  width:258px;
  height:149px;
}
#u693 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:5px;
  width:251px;
  word-wrap:break-word;
}
#u694_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:38px;
}
#u694 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:1165px;
  width:60px;
  height:37px;
}
#u695 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:56px;
  word-wrap:break-word;
}
#u696 {
  border-width:0px;
  position:absolute;
  left:387px;
  top:1184px;
  width:0px;
  height:0px;
  text-align:left;
}
#u696_seg0 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-4px;
  width:86px;
  height:8px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u696_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u696_seg2 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:0px;
  width:1px;
  height:1px;
}
#u697 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u698_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:106px;
}
#u698 {
  border-width:0px;
  position:absolute;
  left:806px;
  top:1664px;
  width:166px;
  height:106px;
}
#u699 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:162px;
  word-wrap:break-word;
}
#u700_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:38px;
}
#u700 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:1305px;
  width:60px;
  height:37px;
}
#u701 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:56px;
  word-wrap:break-word;
}
#u702_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:93px;
}
#u702 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:1277px;
  width:139px;
  height:93px;
}
#u703 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:31px;
  width:135px;
  word-wrap:break-word;
}
#u704 {
  border-width:0px;
  position:absolute;
  left:566px;
  top:1231px;
  width:0px;
  height:0px;
  text-align:left;
}
#u704_seg0 {
  border-width:0px;
  position:absolute;
  left:-24px;
  top:19px;
  width:48px;
  height:8px;
  -webkit-transform:rotate(-91.2453642667683deg);
  -moz-transform:rotate(-91.2453642667683deg);
  -ms-transform:rotate(-91.2453642667683deg);
  transform:rotate(-91.2453642667683deg);
}
#u704_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u704_seg2 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:46px;
  width:1px;
  height:1px;
}
#u705 {
  border-width:0px;
  position:absolute;
  left:-49px;
  top:15px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u706 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:1324px;
  width:0px;
  height:0px;
  text-align:left;
}
#u706_seg0 {
  border-width:0px;
  position:absolute;
  left:-75px;
  top:-4px;
  width:76px;
  height:8px;
}
#u706_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u706_seg2 {
  border-width:0px;
  position:absolute;
  left:-74px;
  top:0px;
  width:1px;
  height:1px;
}
#u707 {
  border-width:0px;
  position:absolute;
  left:-87px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u708 {
  border-width:0px;
  position:absolute;
  left:636px;
  top:1324px;
  width:0px;
  height:0px;
  text-align:left;
}
#u708_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:124px;
  height:8px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u708_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u708_seg2 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:0px;
  width:1px;
  height:1px;
}
#u709 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u710_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:68px;
}
#u710 {
  border-width:0px;
  position:absolute;
  left:466px;
  top:1478px;
  width:200px;
  height:68px;
}
#u711 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:5px;
  width:193px;
  word-wrap:break-word;
}
#u712 {
  border-width:0px;
  position:absolute;
  left:567px;
  top:1370px;
  width:0px;
  height:0px;
  text-align:left;
}
#u712_seg0 {
  border-width:0px;
  position:absolute;
  left:-55px;
  top:50px;
  width:110px;
  height:8px;
  -webkit-transform:rotate(-89.4694986833262deg);
  -moz-transform:rotate(-89.4694986833262deg);
  -ms-transform:rotate(-89.4694986833262deg);
  transform:rotate(-89.4694986833262deg);
}
#u712_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u712_seg2 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:108px;
  width:1px;
  height:1px;
}
#u713 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:46px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u714_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:111px;
}
#u714 {
  border-width:0px;
  position:absolute;
  left:811px;
  top:1457px;
  width:157px;
  height:111px;
}
#u715 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:153px;
  word-wrap:break-word;
}
#u716_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:106px;
}
#u716 {
  border-width:0px;
  position:absolute;
  left:1076px;
  top:1459px;
  width:166px;
  height:106px;
}
#u717 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:162px;
  word-wrap:break-word;
}
#u718 {
  border-width:0px;
  position:absolute;
  left:889px;
  top:1398px;
  width:0px;
  height:0px;
  text-align:left;
}
#u718_seg0 {
  border-width:0px;
  position:absolute;
  left:-31px;
  top:26px;
  width:62px;
  height:8px;
  -webkit-transform:rotate(-90.9710219310792deg);
  -moz-transform:rotate(-90.9710219310792deg);
  -ms-transform:rotate(-90.9710219310792deg);
  transform:rotate(-90.9710219310792deg);
}
#u718_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u718_seg2 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:59px;
  width:1px;
  height:1px;
}
#u719 {
  border-width:0px;
  position:absolute;
  left:-49px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u720 {
  border-width:0px;
  position:absolute;
  left:890px;
  top:1568px;
  width:0px;
  height:0px;
  text-align:left;
}
#u720_seg0 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:44px;
  width:98px;
  height:8px;
  -webkit-transform:rotate(-89.4031905487708deg);
  -moz-transform:rotate(-89.4031905487708deg);
  -ms-transform:rotate(-89.4031905487708deg);
  transform:rotate(-89.4031905487708deg);
}
#u720_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u720_seg2 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:96px;
  width:1px;
  height:1px;
}
#u721 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:40px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u722 {
  border-width:0px;
  position:absolute;
  left:968px;
  top:1513px;
  width:0px;
  height:0px;
  text-align:left;
}
#u722_seg0 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-5px;
  width:112px;
  height:8px;
  -webkit-transform:rotate(179.469498683326deg);
  -moz-transform:rotate(179.469498683326deg);
  -ms-transform:rotate(179.469498683326deg);
  transform:rotate(179.469498683326deg);
}
#u722_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u722_seg2 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:-1px;
  width:1px;
  height:1px;
}
#u723 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u724_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-2px;
  width:31px;
  height:61px;
}
#u724 {
  border-width:0px;
  position:absolute;
  left:564px;
  top:1053px;
  width:5px;
  height:46px;
}
#u725 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u726 {
  border-width:0px;
  position:absolute;
  left:567px;
  top:1019px;
  width:0px;
  height:0px;
  text-align:left;
}
#u726_seg0 {
  border-width:0px;
  position:absolute;
  left:-17px;
  top:13px;
  width:34px;
  height:8px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u726_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u726_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:34px;
  width:1px;
  height:1px;
}
#u727 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u728 {
  border-width:0px;
  position:absolute;
  left:567px;
  top:1099px;
  width:0px;
  height:0px;
  text-align:left;
}
#u728_seg0 {
  border-width:0px;
  position:absolute;
  left:-21px;
  top:15px;
  width:40px;
  height:8px;
  -webkit-transform:rotate(-88.451842301022deg);
  -moz-transform:rotate(-88.451842301022deg);
  -ms-transform:rotate(-88.451842301022deg);
  transform:rotate(-88.451842301022deg);
}
#u728_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u728_seg2 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:37px;
  width:1px;
  height:1px;
}
#u729 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:11px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u730_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u730 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:1692px;
  width:50px;
  height:50px;
}
#u731 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u732_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u732 {
  border-width:0px;
  position:absolute;
  left:1294px;
  top:1487px;
  width:50px;
  height:50px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u733 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
